<!-- Button trigger modal -->
{% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> {% endcomment %}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Welcome to searchCPD</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is a tool that is meant to be used to advance fundamental social change within our police force here in Chicago. We understand that the Chicago Police Department is one of the most corrupt police departments in the nation according to the Federal Department of Justice: <a target="_blank" href="https://www.nytimes.com/2017/01/13/us/chicago-police-justice-department-report.html">Click here</a>. We at searchCPD thought that it would be a brilliant idea to develop a tool to help hold police officers in our city accountable in the court of public opinion. This is also a tool to help city officials and any community member identify the officers that are high risk of abusing their authority while policing communities. Please, if you can, do consider donating to our cause so we can continue offering you the best experience and so that we may continue developing this technology without financial worry.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
{% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
  Launch demo modal
</button> {% endcomment %}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">About Donations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Our donation system uses Stripe. Is Stripe a Secure Payment Method? Of course! 
        Stripe is certified as a Level 1 Service Provider, which is the highest level of certification for payment processors. Stripe complies with the Payment Card Industry Data Security Standard (PCI-DSS), a set of security standards established by major card brands like Visa, Mastercard, and American Express. This compliance ensures that Stripe maintains a secure environment for handling credit card data. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>