{% extends 'search/base.html' %}
{% load static %}
{% block content %}
<header>
   <div class="overlay"></div>
   <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{% static 'search/media/black.mp4' %}" type="video/mp4">
   </video>
   <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
         <div class="w-100 text-white engine-pos">
            <h1 class="text-center">About searchCPD</h1><br>
            <div class="container text-left">
               <p>searchCPD is a grassroots initiative + tool to assist in holding police officers accountable. The goal for this project is to gather enough data in order to run custom search algorithms and pin-point potential officers who may abuse their power down the road. We seek to make an impact on police brutality through the transformative power of computer programming, data science, artificial intelligence.</p>
            </div>
         </div>
      </div>
   </div>
</header>
{% endblock content %}

