{% extends 'search/base.html' %}
{% load static %}
{% block content %}
<header>
   <div class="overlay"></div>
   <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{% static 'search/media/black.mp4' %}" type="video/mp4">
   </video>
   <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
         <div class="w-100 text-white engine-pos">
            <h1 class="text-center">Contact searchCPD</h1><br>
            <div class="container text-left">
               <p>Questions? Concerns? Interested in collaboarating or contributing code to this project? You can email us at searchcpd@protonmail.com. If you have any complaints about certain reviews, then please take down the Review Number of that publication and we will see if any of the content of the review needs to be censored or deleted for not meeting basic guidelines.</p>
            </div>
         </div>
      </div>
   </div>
</header>
{% endblock content %}

