{% extends 'search/base.html' %}
{% load static %}
{% block content %}
<header>
   <div class="overlay"></div>
   <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{% static 'search/media/black.mp4' %}" type="video/mp4">
   </video>
   <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
         <div class="w-100 text-white engine-pos">
            <h1 class="text-center">View Rated Officers Below</h1><br>
            <a href="#card-body"><button class="btn btn-danger">Scroll Down</button></a>
         </div>
      </div>
   </div>
</header>
<div class="container">
   {% for review in reviews %}
      {% if review.officer %}
         <div class="card gedf-card">
            <div class="card-body" id="card-body">
               <div class="container">
                  <h5 class="card-title">Officer Name: {{review.officer.firstName}} {{review.officer.lastName}}</h5>
                  <h5 class="card-title">Badge Number: {{review.officer.badge}}</h5>
                  <h5 class="card-title">Review Number: {{review.id}}</h5>
                  <h5 class="card-title">CPD unit: {{review.officer.unit}}</h5>
                  <h5 class="card-title">Review Rating: {{review.rating}}</h5>
                  <a href="/officers/{{review.officer.id}}"><button class="btn btn-danger">View Officer Profile</button></a>
                  <br>
               </div>
            </div>
         </div>
      {% endif %}
   {% endfor %}
</div>
<script>
document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});
</script>
{% endblock content %}

