{% extends 'search/donate_template.html' %}
{% load static %}
{% block content %}
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167439088-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167439088-1');
</script>

</head>
	<div id="box">
		<img id="succes-icon" src="{% static 'search/media/searchcpd_pic.jpg' %}">
		<h4>Thank you for your contribution of ${{amount}}!</h4>
		<p>Your support helps us fulfill the dream of holding out public servants accountable! We really appreciate it!</p>
		<hr>
		<a class="myButton" href="{% url 'root' %}">&#x2190;Back to search engine page</a>
	</div>

{% endblock content %}