{% extends 'search/base.html'%}
{% load static %}
{% block content %}
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167439088-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167439088-1');
</script>

</head>
<header>
   <div class="overlay"></div>
   <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{% static 'search/media/black.mp4' %}" type="video/mp4">
   </video>
   <div class="container h-100">
        {% if messages %}
            {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            {% endfor %}
        {% endif %}
        <div class="d-flex h-100 text-center align-items-center animated fadeInUp">
            <div class="w-100 text-white engine-pos position-view">
                <h1 class="text-center top-margin">Officer: <span class="value-box">{{officer.firstName}} {{officer.middleIn}} {{officer.lastName}}</span></h1>
                <div class="container">
                    <!-- Officer Profile Section -->
                    <section class="search-sec">
                        <img src="{% static 'search/media/placeholder.jpg' %}">
                        <h3 class="top-margin"><span class="value-box">Avg Rating: {{avgRating}} out of 10</span></h3>
                        <h3 class="top-margin"><span class="value-box">Name: {{officer.firstName}} {{officer.lastName}}</span></h3>
                        <h3 class="top-margin"><span class="value-box">Rank: {{officer.rank}}</span></h3>
                        <h3 class="top-margin"><span class="value-box">Badge#: {{officer.badge}}</span></h3>
                        <h3 class="top-margin"><span class="value-box">CPD Unit: {{officer.unit}}</span></h3>
                    </section>
                </div>
            </div>
        </div>
   </div>
</header>

<div class="container">
    <div class="card gedf-card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make
                        a publication
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    <div class="form-group">
                        <form action ="/postreview/" method="POST" enctype="multipart/form-data" id="post-message">
                            {% csrf_token %}
                            <h5>Title of your review</h5>
                             <input type="text" class="form-control search-slt" name ="title" placeholder="Title your post"><br>
                            <label class="sr-only" for="message">post</label>
                            <input type="hidden" name="cop" value="{{officer.id}}" />
                            <textarea class="form-control" name="message" id="message" rows="3" placeholder="How did your interaction with this officer go?"></textarea><br>
                            <h5>Please rate this officer's overall behavior during your encounter.(1 being worse. 10 being best)</h5>
                            <select class="form-control" id="select" name="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select><br>
                            <p>Optional:</p>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="photo">
                                    <label class="custom-file-label" for="customFile">Upload a Photo</label>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="video">
                                    <label class="custom-file-label" for="customFile">Upload a Video</label>
                                </div>
                            </div>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-danger">share</button>
                            </div>
                        </form><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for review in reviews %}
        <div class="card gedf-card">
            {% comment %} <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="ml-2">
                            <div class="h5 m-0">@LeeCross</div>
                            <div class="h7 text-muted">Miracles Lee Cross</div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            <div class="card-body" id="card-body">
                <div class="container">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{review.created_at}}</div>
                    <h5 class="card-title">{{review.title}}</h5>
                    <p class="card-text">Rating: {{review.rating}}</p>
                    <p class="card-text">{{review.text}}</p>
                    <br>
                    <div class="row">
                        {% if review.videofile %}
                            <div class="col-md-6">
                                <video class="embed-responsive" width='400' controls>
                                    <source class="embed-responsive-item" src="{{ review.videofile }}" type='video/mp4'>
                                    Your browser does not support the video tag.
                                </video>
                                <br><br>
                            </div>
                        {% endif %}

                        {% if review.image %}
                            <div class="col-md-6">
                                <img src="{{ review.image.url }}"></img>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- <div class="card-footer">
                <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
            </div> -->
        </div>
    {% endfor %}
</div>
{% include './components/modals.html'%}
<script>
setTimeout(function () {
   $('#exampleModalCenter2').modal('show');
}, 3000);
</script>

{% endblock content%}